
1 add  rows in existed excel file

In [6]:
import pandas as pd
import numpy as np  

df1 = pd.read_excel('existing Excel file.xlsx')
new_row = pd.DataFrame({"Name": ["hmed"], "Age": [18], "City": ["egypt"]})
# df1.add(new_row, fill_value=0)
# print(df1)
# print(new_row)
df_combined = pd.concat([df1, new_row], ignore_index=True)
df_combined.drop_duplicates(subset=['Name'], keep='first', inplace=True)
df_combined.to_excel('combined Excel file.xlsx', index=False)
print(df_combined)

            Name  Age         City
0    Alice Brown   25      Chicago
1  Charlie Black   45      Houston
2       John Doe   28     New York
3     Jane Smith   34  Los Angeles
4           hmed   18        egypt